@font-face {
    font-family: inter;
    src: url(Inter-Black.otf);
}
.hidden{
    display: none;
}
body{
    background-color: #151925;
    color: white;
    margin: 20px;
}
.admindash{
    font-size: 20px;
    font-family: inter;
    font-weight: 700;
}
.wholedivdash{
    display: flex;
    flex-direction: row;
    gap: 12%;
    flex-wrap: wrap;
}
.thefirstdivdash{
    width: 30%;
}
.dashboarddash{
    font-weight: 700;
    border-radius: 8px;
    font-family: inter;
    padding:  20px 0;
    background-color: #283047;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
}
.items{
    cursor: pointer;
    height: 29px;
    padding: 2px 20px;

}
.items:hover{
    border-radius: 14px;
    background: #151925;
}
.themessagedash{
    margin-top: 5%;
    width: 100%;
}
.tabledash{
    display:flex;
    flex-direction: column;
    background-color: #283047;
    padding: 7px 0;
    gap: 0px;
}
.messageblo{
    display: flex;
    background-color: #283047;
    border-radius: 15px;
    max-height: 30px;
    border-bottom:  1px solid gray;
   
}
.yournumber{
    font-size: 7px;
}
.messageblo:hover{
    background-color: #151925;
}
.identification{
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr ;
    display: grid;
    opacity:0.9;
}
.Muhizi{
    font-weight: 700;
    font-size: 7px;
}
.chatsdashboard{
    width: 90%;
    gap: 15px;
    margin-left: 7px;
    font-size: 7px;
    display: flex;
    flex-direction: column;
    padding-bottom: 3xp;

}
.theseconddivdashboard{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;

}
.dashboardword{
    font-weight: 700;
    font-family: inter;
}
.tableofarticles{
    border-radius: 8px;
    background-color: #283047;
    width: 80%;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 450px;
    gap: 10px;
    padding-bottom: 20px;
}
.row{

    font-size: 1em;
    font-weight: 700;
    font-family: inter;
    width: 100%;
    margin-right: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left:  15px;
    gap: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.action{
    margin-left: 20px;
}
.date{
    font-size: 0.8em;
    font-family: inter;
    font-weight: 100;
}
.rows{
    gap: 39px;
    font-size: 11px;
    margin:  0 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
}
.horizontalline{
    width: 100%;
}
.edit{
    font-weight: 600;
    margin-left: 16%;
    cursor: pointer;
}
.edit:hover{
    text-decoration: underline;
    color: rgb(82, 79, 79);
}
.create{
    margin-top: 20px;
    font-weight: 500;
}
.tabledashboard{
    color: gray;
    min-width: 350px;
    padding: 30px;
    min-height: 290px;
    display: flex;
    flex-direction: column; 
    width: 90%;
    gap: 20px;
    background-color: #283047;
}
.names{
    padding: 0;
    margin: 0;
    flex: 1;
    width: 100%;
    display: flex;
    gap: 20px;
  
}
.inputtitle::placeholder{
    color: white;
}
.lastdiv{
 
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 40%;
}
.upload{
   padding:3px 10px;
    width: 30px;
    border: dashed gray ;
}
.uploadimage
{
    width: 100%;
}
.sendbutton{
    font-size: 20px;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
    display: flex;
}
.send{
    padding: 5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin:  -20px -10px;
    max-height: 20px;
    max-width: 40px;
    background-color: #1C4547;
}
.blogpagess{
    cursor: pointer;
    border:none;
    background-color: #283047;
    color: white;
    text-decoration: none;
}
.blogpagess:hover{
    color: gray;
}
.labelling{
    margin-bottom: -20px;
}
.thewholeedittable{
    margin-top: -10px;
}
@media (max-width: 350px){
    .wholedivdash{
        flex-direction: column;
    }
    .thefirstdivdash{
        width: 80%;
    }
    .tableofarticles{
        width: 50%;
    }

}
@media (max-width: 600px)
{
    .wholedivdash{
        flex-direction: column;
    }
    .dashboarddash{

        font-size: 0.7rem;
    }
    .thefirstdivdash{
        width: 80%;
        max-width: 200px;
    }
}